<h1>Your Training Sessions</h1>
<%= link_to 'New Session', new_training_session_path, class: 'btn btn-primary' %>
<table class="table">
  <thead>
    <tr>
      <th>Date</th>
      <th>Activity</th>
      <th>Duration (min)</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @training_sessions.each do |session| %>
      <tr>
        <td><%= session.date %></td>
        <td><%= session.activity %></td>
        <td><%= session.duration %></td>
        <td><%= session.description %></td>
        <td>
          <%= link_to 'Edit', edit_training_session_path(session), class: 'btn btn-secondary' %>
          <%= link_to 'Delete', training_session_path(session), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
